rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid)) && firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.role == 'admin';
    }
    match /profile/{allPaths=**} { allow read: if true; allow write: if isAdmin(); }
    match /releases/{allPaths=**} { allow read: if true; allow write: if isAdmin(); }
    match /gallery/{allPaths=**} { allow read: if true; allow write: if isAdmin(); }
    match /press/{allPaths=**} { allow read: if true; allow write: if isAdmin(); }
    match /{allPaths=**} { allow read, write: if false; }
  }
}
